[Unit]
Description=rpzd Dashboard
After=network.target postgresql.service
Wants=postgresql.service
Before=rpzd.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/rpzd
ExecStart=/opt/rpzd/rpzd-dashboard /opt/rpzd/rpzd.conf
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
